.img{
    width: 8%;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.elementosNavbar{
    list-style-type: none;
    display: flex;
}

li{
    padding-right:100% ;
    padding-left: 100%;
}